.home {
  max-width: 1800px;
  margin: 0 auto;
}

.slider {
  position: relative;
  /* height: 40vh;  */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.arrowdiv1,
.arrowdiv2 {
  position: absolute;
  top: 50%;
  /* height: 40%;
    width: 10%; */
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
  padding: 0.3em;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.arrowdiv1 {
  left: 15px;
}

.arrowdiv2 {
  right: 15px;
}

.fourslider {
  display: flex;
}
.fourslider > div:nth-child(1) {
  width: 25%;
  padding: 20px 40px;
}
.fourslider > div:nth-child(1) h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 98.8%;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 20px;
}
.fourslider > div:nth-child(1) button {
  width: 148px;
  height: 42px;
  color: white;
  border: 0;
  cursor: pointer;
  background: linear-gradient(0deg, #888dcd, #888dcd), #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.fourslider > div:nth-child(2) {
  width: 75%;
}




/* new arival */
.newarival{
  background: #D5D6EE;
  padding: 40px 0;
}
.newarival h1{
  padding: 0 30px;
}


@media screen and (max-width:786px) {
  .fourslider {
    flex-direction: column;
  }
  .fourslider > div:nth-child(1){
    width: 100%;
  }
  .fourslider > div:nth-child(2){
    width: 100%;
  }
}