.css {
  padding: 20px 30px;
}

/* swiper */

.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 0, 0) !important;
  background-color: rgba(255, 255, 255, 0.829) !important;
  border: none !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
  height: 50px !important;
  width: 50px !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
  box-shadow: 2px 2px 5px rgb(99, 99, 99);
} 

.swiper-button-prev {
  left: 10px !important;
}
.swiper-button-next {
  right: 10px !important;
}

.swiper-button-prev::after {
  content: url("/public/asset/prev.svg") !important;
}
.swiper-button-next::after {
  content: url("/public/asset/next.svg") !important;
}
