.slick-slide img {
  display: block;
  width: 100%;
  height: auto;
  /* border-radius: 12px; */
}
.slick-slide > div {
  /* border-radius: 15px; */
  /* overflow: hidden; */
  /* padding:0 10px; */
}
/* .slick-slide > div > div *{
  background-color: red;
} */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 1.5rem;
  color: rgb(0, 0, 0) !important;
  background-color: rgba(255, 255, 255, 0.829) !important;
  border: none !important;
  border-radius: 50% !important;
  width: 3rem !important;
  height: 3rem !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
}
/* .slick-next *{
  background-color: black;
  color: black;
} */

.slick-prev::before,
.slick-next::before {
  color: rgb(0, 0, 0) !important;
}
.slick-prev:hover,
.slick-next:hover {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 2px 2px 10px rgb(146, 146, 146);
}

.slick-prev {
  left: 18px !important;
}

.slick-next {
  right: 18px !important; 
}
.css{
  padding: 20px 30px;

}
.css > div {
  /* border-radius: 12px !important; */
  /* overflow: hidden !important; */
}
.css > div > img{
  /* border-radius: 12px !important; */
  /* overflow: hidden !important; */
}
